@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    A3250477 藍翊中 <a href="https://project.ultramarine.asia"><strong>https://project.ultramarine.asia</strong></a><br />
    A3250019 馬天樂<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
     <a href="https://docs.google.com/forms/d/1ZSlOCEzNN_Aibi4t80BIp1NlPnVyQZmc2IaO-cv_qMQ/viewform"><strong>意見回饋</strong></a>
</address>