@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>1041 CSIE 2B <br>DataBase System Final Project</h1>
    <p class="lead">這是一個展示我們這學期資料庫期末學習成果的小專題, 一個簡易的小型雲端(你要說只是線上也可以)可共同編輯備忘錄</p>
    <p><a href="http://dbsysfinalproject.azurewebsites.net/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>開始使用</h2>
        <p>
            提高辦事效率, 向健忘說拜拜!<br>
            隨時隨地存取備忘錄!<br>
            使用Bootstrap網頁技術<br>
            讓你在任何平台上都能有最佳的閱覽體驗!<br>
            馬上點擊導覽列標題開始使用!!
        </p>
        @*<p><a class="btn btn-default" href="http://dbsysfinalproject.azurewebsites.net/Home/About">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>無須辦帳號的繁瑣手續</h2>
        <p>
            懶得辦帳號嗎?<br>
            現在你也可以直接使用Google或FaceBook帳號直接登入!
        </p>
        <p><a class="btn btn-default" href="http://dbsysfinalproject.azurewebsites.net/Account/Login">Go! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>意見反映</h2>
        <p>你有甚麼建議或是想法想告訴我們嗎?<br>請按這裡</p>
        <p><a class="btn btn-default" href="https://docs.google.com/forms/d/1ZSlOCEzNN_Aibi4t80BIp1NlPnVyQZmc2IaO-cv_qMQ/viewform">我要反映 &raquo;</a></p>
    </div>
</div>